@{
    ViewBag.Title = "PlayAgain";
}
<div class="jumbotron text-center">
    <div>
        <h2 class="">Winner is :</h2>
    </div>
    @*<div>
        <h2>TODO: get the winner from Bag</h2>
    </div>*@
    <div class="btn btn-default">
        @Html.ActionLink("Play Again", "NewGame","Quatro")
    </div>
</div>

